---
layout: page
permalink: /categories/
title: Categories
---

{% assign categories = site.categories | sort %}
{% assign date_format = site.alphasmanifesto.date_format | default: "%b %-d, %Y" %}

<div id="categories">
{% for category in categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    {% assign cat_slug = category_name | slugify: "latin" %}
    {% assign cat_info = site.data.categories[cat_slug] %}
    <div class="archive-group">
        <h2 id="category-{{ cat_slug }}" class="category-head">
            <a href="{{ "/categories/" | append: cat_slug | relative_url }}">{{ cat_info.title | default: category_name
                }}</a>
        </h2>
        {% if cat_info and cat_info.description %}
        <p class="subtitle">{{ cat_info.description }}</p>
        {% endif %}
    </div>
{% endfor %}
</div>