<header class="site-header">

    <div class="titleRow">
      {%- if site.alphasmanifesto.logo -%}
      <div class="logoContainer">
        <img src="{{ site.alphasmanifesto.logo | relative_url }}"
             alt="logo"
             height={{ site.alphasmanifesto.logo_height }}
             width={{ site.alphasmanifesto.logo_width }}
             />
      </div>
      {%- endif -%}

      <div class="title">
        <h1 rel="author">
          <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
        </h1>
        
        {%- if site.alphasmanifesto.subtitle -%}
          <p class="subtitle">{{ site.alphasmanifesto.subtitle }}</p>
        {%- endif -%}
      </div>
    </div>
  </header>