---
layout: default
---

{% if site.paginate %}
{% assign posts = paginator.posts %}
{% else %}
{% assign posts = site.posts %}
{% endif %}

<div class="leftSidebar">
  <input type="checkbox" id="displayMenus" class="menuSwitcher">
  <label for="displayMenus" class="menuSwitcher"></label>

  {% for widget in site.alphasmanifesto.widgets %}
    <div class="widget">
      <h2 class="widgettitle">{{ widget.title }}</h2>

      <div>
        <ul>
          {% for link in widget.links %}
            <li>
              <a 
              title="{{ link.label }}"
              href="{{ link.url }}">
                {{ link.label }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}
</div>

<div class="postContainer">
  {%- assign date_format = site.alphasmanifesto.date_format | default: "%b %-d, %Y" -%}
  {%- for post in posts -%}
  <article>
    <div class="postContent">
      <h1>
        <a href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h1>

      {%- if post.subtitle -%}
      <p class="subtitle">
        {{ post.subtitle }}
      </p>
      {%- endif -%}

      {%- if post.thumbnail -%}
      <p class="aligncenter">
        <img src="{{ post.thumbnail.url | relative_url }}" />
      </p>
      {%- endif -%}

      <div class="excerpt">
        {{ post.excerpt }}
      </div>

      <p>
        <a href="{{ post.url | relative_url }}" class="more-link">(Read more &rarr;)</a>
      </p>
    </div>

    <div class="metadata">
      <time datetime="{{ post.date | date_to_xmlschema }}" class="datetime dt-published">
        {{ post.date | date: date_format }}
      </time>

      <div class="categories">
        {% for category in post.categories %}
        {% comment %}
        <!-- TODO: still need to find out how to link to categories -->
        <a href="TODO">{{ category}}</a>
        {% endcomment %}
        {{ category }}
        {% endfor %}
      </div>

      <div class="permalink">
        <a href="{{ post.url }}">(Permalink)</a>
      </div>

      <div class="tags">
        Tags:
        {% for tag in post.tags %}
        {% comment %}
        <!-- TODO: still need to find out how to link to tags -->
        <a href="{{ tag | slugify | prepend: site.alphasmanifesto.tag_archive_path | relative_url }}" rel="category tag">
          {{ tag }}
        </a>
        {% endcomment %}
        {{ tag }}{%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      </div>
    </div>
  </article>
  {%- endfor -%}
</div>