---
layout: default
---

<main class="page-content" aria-label="Content">
  {% include left-sidebar.html %}

  <div class="postContainer">
    <article>
      <div class="postContent">
        <h1>
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h1>

        {%- if post.subtitle -%}
        <p class="subtitle">
          {{ post.subtitle }}
        </p>
        {%- endif -%}

        {% include post-main-image.html %}

        <div>
          {{ content }}
        </div>
      </div>

      {% include post-metadata.html %}

      {% include disqus-comments.html %}
    </article>
  </div>
</main>